body {
  margin: 0;
  font-family: Arial, Helvetica, Impact, sans-serif;
  font-size: 14px;
}
.slides {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.img img{
  max-width: 1000px;
}
.slides article {
  margin: 30px 0;
}
.slides article img {
  max-width: 100%;
}
.slides article h2 {
  font-size: 20px;
  color: #686868;
  margin-bottom: 25px;
}
#bottom a{
  text-decoration:none;
  background-color:#ff0000;
  padding:10px;
  color: white;
  transition: background-color 0.5s;
}
#bottom a:hover{
  background-color:#a00000;
}
@media (min-width: 600px) {
  .slides article {
    float: left;
    width: calc(50% - 10px);
  }
  .slides article:nth-child(even) {
    margin-left: 20px;
  }
}




